{% extends "base.html" %}
{%load static%}

{% block style %}
  {%static 'css/about/about.css'%}
{% endblock %}

{% block content %}
      <section>
        <div class="banner">
          <div class="container">
            <div class="row_banner">
              <div class="list_banner">
                <img
                  loading="lazy"
                  class="banner_item"
                  src="{%static 'img/about/banner1.png'%}"
                  alt=""
                />
                <img
                  loading="lazy"
                  class="banner_item"
                  src="{%static 'img/about/banner2.png'%}"
                  alt=""
                />
                <img
                  loading="lazy"
                  class="banner_item"
                  src="{%static 'img/about/banner3.png'%}"
                  alt=""
                />
                <img
                  loading="lazy"
                  class="banner_item"
                  src="{%static 'img/about/banner4.png'%}"
                  alt=""
                />
              </div>
              <div class="btn_banner next_banner">›</div>
              <div class="btn_banner prev_banner">‹</div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="introduce">
          <div class="container">
            <div class="row_introduce">
              <div class="infor">
                <h1 class="heading_introduce">
                  <span class="rectangle"></span>
                  GIỚI THIỆU TỔNG QUAN
                </h1>
                <p style="font-style: normal" class="desc_introduce">
                  Khởi nguồn từ tinh thần sáng tạo và khát khao chinh phục, CN
                  HAIR SALON mong muốn khơi dậy ngọn lửa thành công và bản lĩnh
                  trong mỗi người đàn ông hiện đại. Chúng tôi tự hào xây dựng sự
                  khác biệt dựa trên
                </p>
                <p class="desc_introduce">
                  - Đội ngũ chuyên gia giàu kinh nghiệm, tận tâm, luôn mang đến
                  những phong cách tóc đẳng cấp và phù hợp.
                </p>
                <p class="desc_introduce">
                  - Ứng dụng công nghệ hiện đại, giúp thấu hiểu sâu sắc nhu cầu
                  và phong cách riêng của từng khách hàng.
                </p>
                <p class="desc_introduce">
                  - Không gian salon sang trọng, hiện đại, tích hợp những xu
                  hướng công nghệ hàng đầu thế giới.
                </p>
                <p class="desc_introduce">
                  - Trải nghiệm toàn diện, từ cắt tóc đến thư giãn và chăm sóc
                  da, được thiết kế độc quyền cho phái mạnh.
                </p>
                <p style="font-style: normal" class="desc_introduce">
                  CN HAIR SALON không chỉ tạo nên kiểu tóc, mà còn là nơi giúp
                  bạn định hình phong cách và nâng tầm bản thân.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="our">
          <div class="container">
            <div class="row_our">
              <div class="row_img">
                <div class="col-left">
                  <img
                    loading="lazy"
                    class="our_img"
                    src="{%static 'img/about/staff1.jpg'%}"
                    alt=""
                  /><br />
                  <img
                    loading="lazy" class="our_img" src="{%static 'img/about/staff2.jpg'%}" alt="" />
                </div>
                <img
                  loading="lazy"
                  class="our_img col-right"
                  src="{%static 'img/about/staff4.jpg'%}"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="introduce" style="margin-bottom: 20px">
          <div class="container">
            <div class="row_introduce">
              <h1 class="heading_introduce">
                <span class="rectangle"></span>
                SỨ MỆNH CỦA CHÚNG TÔI
              </h1>
              <p class="desc_introduce">
                CN HAIR SALON luôn đặt sự quan tâm và giá trị con người làm
                trọng tâm, không ngừng lan tỏa niềm tin và nguồn cảm hứng tích
                cực đến cộng đồng. Chúng tôi tin rằng, mỗi sự thay đổi nhỏ đều
                có thể tạo nên những bước ngoặt lớn, giúp mỗi cá nhân đổi mới
                bản thân và còn hướng tới một cuộc sống ý nghĩa và trọn vẹn hơn.
                CN HAIR SALON cam kết đồng hành cùng bạn trên hành trình khám
                phá và chinh phục những phiên bản tốt nhất của chính mình.
              </p>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="img-fixed"></div>
      </section>
      <section>
        <div class="introduce" style="margin: 40px 0">
          <div class="container">
            <div class="row_introduce">
              <h1 class="heading_introduce">
                <span class="rectangle"></span>
                GIÁ TRỊ CỐT LÕI
              </h1>
              <img
                loading="lazy"
                style="margin: 40px 0; width: 100%"
                src="{%static 'img/about/giatri.png'%}"
                alt=""
              />
            </div>
          </div>
        </div>
      </section>
{% endblock %}

{%block script%}
    <script type="module" src="{%static 'js/main.js'%}"></script>
    <script type="module" src="{%static 'js/about.js'%}"></script>
{% endblock %}
