{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link rel="stylesheet" href="{% static 'css/login/login.css' %}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&family=Sen:wght@400..800&display=swap"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      href="{% static 'img/favicon/favicon.png' %}"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
      integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="login">
      <div class="row_login">
        <div class="login-form">
          <div class="container">
            <div class="back">
              <a href="/"><i class="fa-solid fa-arrow-left"></i></a>
            </div>
            <h1 style="font-size: 50px; margin-bottom: 10px">Đăng Nhập</h1>
            <p>Nhập tài khoản của bạn để đăng nhập!</p>
            <div class="form-layout">
              <form method="POST">
                {% csrf_token %}

                <div class="formInputs">
                  <label class="form-label" for="username">Tên đăng nhập</label>
                  <input name="username" type="text" class="input" required />
                </div>

                <div class="formInputs">
                  <label class="form-label" for="password">Mật khẩu</label>
                  <input
                    name="password"
                    type="password"
                    class="input"
                    required
                  />
                </div>

                {% if messages %}
                <div class="alert">
                  {% for message in messages %} {% if message.tags == 'error' %}
                  <p class="alert-message" style="color: red">{{ message }}</p>
                  {% endif %} {% endfor %}
                </div>
                {% endif %}
                <a href="#"
                  ><span class="forgot-password">Bạn quên mật khẩu?</span></a
                >
                <button type="submit" class="btn-login">Đăng Nhập</button>
              </form>
              <p class="login_register">
                Bạn không có tài khoản?
                <a style="color: #dd1956" href="/register">Đăng ký</a>
              </p>
            </div>
          </div>
        </div>
        <div class="login_welcome">
          <div class="container">
            <h2 class="heading_welcome">Welcome to <br />CN Hair Salon</h2>
            <p class="desc_welcome">
              CN Hair Salon – Trao niềm tin trao sắc đẹp nơi mang lại vẻ đẹp
              hoàn hảo cho mái tóc của bạn.
            </p>
            <img
              src="{% static 'img/login/welcome.png' %}"
              alt="welcome image"
            />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
