@import "../global/variable";
//Introduce
.rectangle {
  display: inline-block;
  width: 8px;
  height: 50px;
  background-color: white;
  border-radius: 10px;
  margin-right: 15px;
}
.heading {
  font-family: $font-second;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 90px;
  display: flex;
  align-items: center;
}

.introduce {
  .row_introduce {
    display: flex;
    gap: 100px;
    .infor {
      max-width: 600px;
      text-align: left;

      .desc_introduce {
        font-family: $font-primary;
        font-weight: 500;
        font-size: 25px;
        line-height: 54px;
        margin-left: 20px;
      }
    }
    .pic_introduce {
      width: 500px;
      height: 400px;
      background-position: contain;
      margin-top: 20px;
    }
    .btn-introduce {
      margin-left: 190px;
      margin-top: 30px;
    }
  }
}
//Service
.service {
  margin-top: 50px;
  height: 470px;
  .row_service {
    display: flex;
    justify-content: space-between;
    .service-item {
      text-align: center;
      font-size: 3rem;
      font-weight: bold;
      font-style: italic;
      width: 339px;
      height: 417px;
      padding: 10px;
      border-radius: 40px;
      background: linear-gradient(180deg, #ffffff 0%, #000000 100%);
      &:hover {
        width: 400px;
        height: 470px;
        transition: 0.2s ease-in-out;

        img {
          width: 100%;
        }
      }
    }
  }
}
//Combo
.combo {
  height: 400px;
  margin-top: 100px;
  .row_combo {
    display: flex;
    justify-content: space-between;
    .combo-item {
      &:hover {
        width: 350px;
        height: 400px;
        transition: 0.2s ease-in-out;

        img {
          width: 100%;
        }
      }
    }
  }
}
//album
.album {
  margin-top: 50px;
  .row_album {
    .row {
      display: flex;
      justify-content: center;
      .album-item {
        margin: 30px;
      }
    }
  }
}
//feedback
.feedback {
  background: #73726f;
  .row-feedback {
    padding: 96px 0;
    padding: 30px;

    display: flex;
    position: relative;
  }

  /* right-content */
  .right-content {
    min-width: 340px;
  }

  .name-user {
    color: #f7f7f7;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 34px;
    margin: 18px 0 4px;
  }

  /* left-content */

  .feedback-content {
    color: #fff;
    max-width: 740px;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 40px;
    position: absolute;
    right: 60px;
  }
  .circle {
    display: flex;
    gap: 30px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    .box {
      width: 8px;
      height: 8px;
      border-radius: 6px;
      background: #000;

      &:hover {
        background: #ffb900;
      }
    }
  }
}
//Staff
.staff {
  margin-top: 50px;
  .row_staff {
    .row {
      display: flex;
      justify-content: center;
      gap: 53px;
      margin: 53px;
    }
  }
}
//Tech
.tech {
  margin-top: 50px;
  .row_tech {
    .row {
      display: flex;
      justify-content: center;
      gap: 53px;
      margin: 53px;
    }
  }
}
//address
.brand {
  height: 310px;
  margin-bottom: 120px;
  .row_brand {
    display: flex;
    justify-content: space-around;
    .brand-item {
      &:hover {
        width: 310px;
        height: 310px;
        transition: 0.2s ease-in-out;

        img {
          width: 100%;
        }
      }
    }
  }
}
