{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{%static 'css/booking/booking.css'%}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&family=Sen:wght@400..800&display=swap"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      href="{%static 'img/favicon.png'%}"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
      integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <title>Booking</title>
  </head>
  <body>
    <div class="booking">
      <div class="container row_booking">
        <!-- Booking Left -->
        <div class="booking_left">
          <div class="booking_heading">
            <a href="/">
              <img src="{%static 'img/LOGO.png'%}" alt="logo" class="logo" />
            </a>
          </div>
          <div class="booking_form">
            <form action="#">
              <h3>Thông tin liên hệ</h3>
              <input
                type="text"
                class="formInput"
                placeholder="Số điện thoại"
              />
              <div class="input_layout">
                <select class="formInput">
                  <option value="" disabled selected hidden>Anh/Chị</option>
                  <option value="nam">Anh</option>
                  <option value="nữ">Chị</option>
                </select>
                <input type="text" class="formInput" placeholder="Họ Tên" />
              </div>
              <h3>Thông tin cuộc hẹn</h3>
              <select class="formInput" style="width: 100%">
                <option value="" disabled selected hidden>Chi nhánh</option>
                <option value="Hà nội">
                  CN Hair Salon 145 Chùa Láng, Đống Đa, Hà Nội
                </option>
                <option value="Đà nẵng">
                  CN Hair Salon 85 Đ. Trần Cao Vân, Phường Minh An, Hội An,
                  Quảng Nam
                </option>
                <option value="HCM">
                  Cn Hair Salon 189 Trung Mỹ Tây, Tô Ký, Q.12, TP.HCM
                </option>
              </select>
              <div class="choose_service formInput">Chọn dịch vụ</div>
              <textarea
                name="text"
                class="formTextarea"
                cols="30"
                rows="5"
                placeholder="Lời nhắn..."
              ></textarea>
            </form>
          </div>
        </div>
        <!-- Booking Right -->
        <div class="booking_right">
          <div class="booking_heading">
            <div class="brand">
              <span>CN SALON</span> PROFESSIONAL HAIR SALON
            </div>
            <div class="phone">
              <img src="{%static 'img/booking/phone.png'%}" alt="" /> Điện
              thoại: 0901238764
            </div>
            <div class="time-open">
              <img src="{%static 'img/booking/watch.png'%}" alt="" /> Giờ mở
              cửa: 8:30 - 19:30
            </div>
            <div class="address">
              <img src="{%static 'img/booking/local.png'%}" alt="" /> Địa chỉ:
              189 Trung Mỹ Tây, Tô Ký, Q.12, TP.HCM
            </div>
          </div>

          <div class="booking_option">
            <h3>Chọn ngày hẹn</h3>
            <div class="row">
              <div class="col">Thứ 2</div>
              <div class="col">Thứ 3</div>
              <div class="col">Thứ 4</div>
              <div class="col">Thứ 5</div>
            </div>
            <div class="row">
              <div class="col">Thứ 6</div>
              <div class="col">Thứ 7</div>
              <div class="col">Chủ nhật</div>
            </div>
            <h3>Chọn giờ hẹn</h3>
            <div class="row">
              <div class="col">08:30</div>
              <div class="col">09:00</div>d
              <div class="col">09:30</div>
              <div class="col">10:00</div>
              <div class="col">10:30</div>
              <div class="col">11:00</div>
            </div>
            <div class="row">
              <div class="col">13:00</div>
              <div class="col">13:30</div>
              <div class="col">14:00</div>
              <div class="col">14:30</div>
              <div class="col">15:00</div>
              <div class="col">15:30</div>
            </div>
            <div class="row">
              <div class="col">16:00</div>
              <div class="col">16:30</div>
              <div class="col">17:00</div>
              <div class="col">17:30</div>
              <div class="col">18:00</div>
              <div class="col">18:30</div>
            </div>
          </div>
          <button type="submit" class="btn_booking">
            <img src="{%static 'img/booking/date.png'%}" alt="" />Đặt Ngay
          </button>
        </div>
      </div>
    </div>
    <script src="{%static 'js/booking.js'%}"></script>
  </body>
</html>
